.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .resume-dl {
    height: 150px;
  }
  .react-pdf__Document {
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
