.contact {
  background-color: lightseagreen;
  grid-column: center-start/center-end;

  display: grid;
  grid-template-columns: auto-fit min-content repeat(2, 1fr) auto-fit;
  grid-gap: 2rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: max-content;
}
