@import "../../global.scss";

.nav {
  background-color: slategray;
  grid-column: full-start/full-end;
  position: sticky;
  top: 0;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr max-content repeat(4, 1fr) 1fr;
  grid-gap: 1rem;
  align-items: center;

  &__left {
    grid-column: 2;
    justify-self: start;
  }
  &__logo {
    font-family: $font-bold;
    font-size: 4rem;
    font-weight: 900;
    cursor: pointer;
  }

  &__right {
    grid-column: 4/7;
    justify-self: end;

    .link {
      font-size: 1.6rem;
      margin-right: 2rem;
      cursor: pointer;
      padding: 0.5rem;

      &:hover,
      &:active {
        border-bottom: 0.5px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 2%,
          black 20% 80%,
          rgba(0, 0, 0, 0) 98%
        );
      }
    }
    .icon {
      width: 2rem;
      height: 2rem;
      margin: 0 1rem;
      opacity: 0.8;
      transition: opacity 0.2, transform 0.2s;

      &:hover,
      &:focus {
        opacity: 1;
        transform: translateY(-3px);
      }
    }
  }
}
